.card {
  background-color: #d1d7dc;
  border: 1px solid rgb(65, 50, 50);
  border-radius: 5px;
  padding: 15px;
}

.login-panel-wrapper {
  max-width: 400px;
  margin: 2em auto;
}

.login-panel {
  display: block;
}

.card-title {
  text-align: center;
}

button {
}

a {
  float: right;
}
