.card {
  margin-top: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 1px #cabcbc;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

button {
  margin-right: 2rem;
}
