<h2>Logs</h2>

<div *ngIf="!logs">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="logs?.length === 0">There are no records to display</div>

<div class="search">
    <input class="global" matInput type="text" placeholder="global" [(ngModel)]="globalFilter">

    <input class="date" matInput [matDatepicker]="dateFromDP" [(ngModel)]="dateFrom" placeholder="Date from">

    <mat-datepicker-toggle matSuffix [for]="dateFromDP"></mat-datepicker-toggle>
    <mat-datepicker #dateFromDP></mat-datepicker>

    <input class="date" matInput [matDatepicker]="dateToDP" [(ngModel)]="dateTo" placeholder="Date to">
    <mat-datepicker-toggle matSuffix [for]="dateToDP"></mat-datepicker-toggle>
    <mat-datepicker #dateToDP></mat-datepicker>

    <mat-select [(ngModel)]="chosenLogType" placeholder="Log type">
        <mat-option *ngFor="let logType of LogTypeKeys | keyvalue" [value]="+logType.key">
            {{logType.value}}
        </mat-option>
    </mat-select>

    <button mat-flat-button color="primary" (click)="mySearch()"> Search </button>
</div>

<ng-container *ngIf="logs && logs.length > 0" content>
    <table mat-table [dataSource]="logs" class="mat-elevation-z8 table-index">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>

        <ng-container matColumnDef="message">
            <th mat-header-cell *matHeaderCellDef>Message</th>
            <td mat-cell *matCellDef="let element">{{element.message}}</td>
        </ng-container>

        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef>UserName</th>
            <td mat-cell *matCellDef="let element">{{element.userName}}</td>
        </ng-container>

        <ng-container matColumnDef="ip">
            <th mat-header-cell *matHeaderCellDef>Ip</th>
            <td mat-cell *matCellDef="let element">{{element.ip}}</td>
        </ng-container>

        <ng-container matColumnDef="logType">
            <th mat-header-cell *matHeaderCellDef>LogType</th>
            <td mat-cell *matCellDef="let element">{{LogType[element.logType]}}</td>
        </ng-container>

        <ng-container matColumnDef="logDate">
            <th mat-header-cell *matHeaderCellDef>LogDate</th>
            <td mat-cell *matCellDef="let element">{{element.logDate | date: 'dd.MM.yyyy hh:mm:ss'}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
</ng-container>