.mat-spinner {
    position: relative;
    margin-left: 50%;
  }
  
  table {
    width: 100%;
    margin-top: 10px;
  }
  
  .mat-row:nth-child(even){
    background-color: #e4f0ec;
  }
        
  .mat-row:nth-child(odd){
    background-color: #ffffff;;
  }
    
  .mat-column-title {
    font-weight: bold;
    height: 80px;
    font-size: 20px;
  }
    
  .mat-column-faculty {
    font-style: italic;
    font-size: 20px;
  }
    
  .mat-column-startYear {
    text-align: center;
    font-size: 20px;
  }

  .mat-column-endingYear {
    text-align: center;
    font-size: 20px;
  }
  
  .mat-column-actions {
    width: 20%;
    font-size: 20px;
    text-align: center;
  }
    
  .delete-button {
    float: right;
  }
    
  