<h2>Students</h2>

<div class="search">
    <input class="fio" matInput type="text" placeholder="fio" [(ngModel)]="fio">
    
    <mat-select [(ngModel)]="groupId" placeholder="Student`s group">
        <mat-option *ngFor="let group of studentGroups" [value]="group.id">
            {{group.title}}
        </mat-option>
    </mat-select>

    <button mat-flat-button color="primary" (click)="search()"> Search </button>
</div>

<button mat-flat-button routerLink="/students/create" color="primary">Create new</button>

<div *ngIf="!students">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="students?.length === 0">There are no records to display</div>

<ng-container *ngIf="students && students.length > 0" content>
    <table mat-table [dataSource]="students">
        <ng-container matColumnDef="fio">
            <th mat-header-cell *matHeaderCellDef>FIO</th>
            <td mat-cell *matCellDef="let element">{{element.fio}}</td>
        </ng-container>

        <ng-container matColumnDef="dateOfBirth">
            <th mat-header-cell *matHeaderCellDef>Date of birth</th>
            <td mat-cell *matCellDef="let element">{{element.dateOfBirth | date: 'dd.MM.yyyy'}}</td>
        </ng-container>

        <ng-container matColumnDef="group">
            <th mat-header-cell *matHeaderCellDef>Group</th>
            <td mat-cell *matCellDef="let element">{{element.group.title}}</td>
        </ng-container>

        <ng-container matColumnDef="actions" class="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element;">
                <a
                    routerLink="/students/edit/{{element.id}}"
                    mat-flat-button color="primary"
                    class="edit-button">
                    Edit
                </a>

                <button mat-flat-button color="warn"
                (click)="delete(element.id)"
                class="delete-button">
                    Delete
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
</ng-container>

<mat-paginator [length]="countOfStudents"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              [showFirstLastButtons]="true"
              [pageIndex]="currentPage"
              (page)="pageEvent = handlePage($event)"
              aria-label="Select page">
</mat-paginator>

