<h2>Create new teacher: </h2>

<div>
    <div>
        <form [formGroup]="createTeacherForm" (submit)="saveChanges()">
            <mat-form-field class="form-field" appearance="outline">
                <mat-label>FirstName: </mat-label>
                <input matInput formControlName="firstName" required>
                <mat-error *ngIf="createTeacherForm.controls.firstName.touched && createTeacherForm.controls.firstName.invalid">
                    <span *ngIf="createTeacherForm.controls.firstName.errors.required">This field is required</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
                <mat-label>LastName: </mat-label>
                <input matInput formControlName="lastName" required>
                <mat-error *ngIf="createTeacherForm.controls.lastName.touched && createTeacherForm.controls.lastName.invalid">
                    <span *ngIf="createTeacherForm.controls.lastName.errors.required">This field is required</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
                <mat-label>Date of birth: </mat-label>
                <input matInput [matDatepicker]="dp" formControlName="dateOfBirth">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
                <mat-label>Email: </mat-label>
                <input matInput formControlName="email" type="email" required>
                <mat-error *ngIf="createTeacherForm.controls.email.touched && createTeacherForm.controls.email.invalid">
                    <span *ngIf="createTeacherForm.controls.email.errors.required">This field is required</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
                <mat-label>Phone number: </mat-label>
                <input matInput formControlName="phoneNumber" type="tel" required>
                <mat-error *ngIf="createTeacherForm.controls.phoneNumber.touched && createTeacherForm.controls.phoneNumber.invalid">
                    <span *ngIf="createTeacherForm.controls.phoneNumber.errors.required">This field is required</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
                <mat-label>Teacher`s department: </mat-label>
                <mat-select formControlName="departmentId">
                    <mat-option *ngFor="let department of departments" [value]="department.id">
                        {{department.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            
            <div>
                <button mat-flat-button color="primary" [disabled]="createStudentForm.invalid">Save Changes</button>
                <a mat-stroked-button routerLink="/students">Cancel</a>
            </div>

        </form>
    </div>
</div>