<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home"> Home </a>
        <a routerLink="/courses"> Courses </a>
        <a *ngIf="isUserManager || isUserAdmin" routerLink="/students"> Students </a>
    </div>
    <div class="space">

    </div>

    <div *ngIf="!isUserAuthenticated">
        <a routerLink="/authorization/signup"> Register </a>
        <a routerLink="/authorization/signin"> Login </a>
    </div>

    <div *ngIf="isUserAuthenticated">
        <a (click)="logout()">Logout</a>
    </div>
</mat-toolbar>