<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home"> Home </a>
        <a routerLink="/faculties"> Faculties </a>
        <a routerLink="/departments"> Departments </a>
        <a routerLink="/courses"> Courses </a>
    </div>

    <div *ngIf="isUserManager || isUserAdmin">
        <a routerLink="/students"> Students </a>
        <a routerLink="/teachers"> Teachers </a>
        <a routerLink="/studentGroups"> Student groups </a>
    </div>

    <div *ngIf="isUserAdmin">
        <a routerLink="/logs"> Logs </a>
    </div>

    <div class="space">
    </div>

    <div *ngIf="!isUserAuthenticated">
        <a routerLink="/authorization/signup"> Register </a>
        <a routerLink="/authorization/signin"> Login </a>
    </div>

    <div *ngIf="isUserAuthenticated">
        <a (click)="logout()">Logout</a>
    </div>
</mat-toolbar>