<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/courses" (click)="onSidenavClose()">
        <mat-icon>table_view</mat-icon> <span class="nav-caption">Courses</span>
    </a>
    <a mat-list-item routerLink="/authorization/signup" (click)="onSidenavClose()">
        <mat-icon>add-circle</mat-icon> <span class="nav-caption">Register</span>
    </a>
</mat-nav-list>