.mat-spinner {
    position: relative;
    margin-left: 50%;
}
  
table {
    width: 100%;
}
  
.mat-row:nth-child(even){
    background-color: #e4f0ec;
}
        
.mat-row:nth-child(odd){
    background-color: #ffffff;;
}
  
.mat-column-name {
    height: 80px;
    font-weight: bold;
    font-size: 20px;
}